*{
  margin: 0px;
}

@font-face {
  font-family: 'Dunkin';
  src: local(Dunkin), url(./styles/Dunkin.woff) format('woff');
}

body {
  margin: 0;
  background-color: #F6F5F3 !important;
  font-family: 'Dunkin' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pink-color{
  color:#db0a81
}

.orange-color{
  color:#f56200
}

.nav-link{
  font-weight: bold;
  color:black !important;
  font-size: 1rem;
  text-transform: uppercase;
  transition: color 250ms !important;
}  

@media (max-width: 767.98px) { 
  
  .nav-link{
    min-width: 100%
  }
  
 .lower-head-logo{
    display: none !important;
  }
}
  



a.nav-link::after {
  content: '';
  width: 0;
  height: 2px;
  color: #f99dca;
  background-color: #f99dca;
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 250ms ease-in-out;
}